<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exception.crash.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
<!-- allowbackup 和debuggale是防止敏感信息泄露 -->
    <application
        android:name="com.exception.crash.app.Applications"
        android:allowBackup="false"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity 
            android:name="com.exception.crash.main.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            >
       <intent-filter >
           <action android:name="android.intent.action.MAIN"/>
           <category android:name="android.intent.category.LAUNCHER"/>
       </intent-filter>
        </activity>
        <service android:name="com.exception.crash.app.Services"></service>
    </application>

</manifest>